<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Eleventy: Custom Code Inside Post Content</title>
    <style>
      body {
        font-family: sans-serif;
      }
    </style>
  </head>
  <body>
    <div>
      <h1><a href="/">Eleventy: Custom Code Inside Post Content</a></h1>
      {{ content|safe }}
    </div>
  </body>
</html>
